	<div class="container">
		<div class=row>
			<div class="text-center"><h1><strong>New User</strong></h1></div>
		</div>
	</div>

		<div class="container">
			<div class="jumbotron back">
				<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <%= f.error_notification %>
					<form method="post" action="#" role="form">
						<div class=row>
							<div class="col-md-12">
									<%= f.input :email, required: true, :class => 'form-control' %>
							</div>
						</div>
						<div class=row>
							<div class="col-md-12">
								<div class="form-group">
									<%= f.input :password, required: true, :class => 'form-control' %>
								</div>
							</div>
						</div>
						<div class=row>
							<div class="col-md-12">
								<div class="form-group">
									<%= f.input :password_confirmation, required: true, :class => 'form-control' %>
								</div>
							</div>
						</div>
						<div class=row>
							<div class="col-md-6">
								<div class="form-group">
										<label for="dateofbirth">Date of Birth:</label>
	                  <input type="date" class="form-control" name=user[date] id="user_date" placeholder="Date of Birth">
								</div>
							</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="gender">Gender:</label>
									<select name=user[gender] id=user_gender class="form-control">
										<option value="male">Male</option>
										<option value="female">Female</option>
	                  <option value="other">Other</option>
	                  <option value="not_disclosed">Prefer not to disclose</option>
									</select>
									</div>
								</div>
						</div>
							<div class="form-group">
								<label for="address">Address:</label>
								<input type="text" class="form-control" name=user[address] id=user_address placeholder="Address">
							</div>
							<div class="text-center">
								<div class="form-actions">
							    <input type="submit" name="commit" value="Sign up" class="btn btn-default" />
							  </div>
							</div>
					</form>
					<% end %>
			</div>
