<div class="col-md-1"></div>
<div class="center-content col-md-10">
  <h1><%= @user.first_name + ' ' +@user.last_name.to_s %></h1>


  <div class="user-profile">

    <ul class="list-inline">
      <li>
        <div class="user-placeholder">
          <%= simple_form_for(@user) do |f| %>
            <% image = @user.image_url ? @user.image_url : "user.jpg" %>
            <%= image_tag(image, :alt => "User", :class => "img-responsive img-circle") %>
            <div id="user-profile" class="fileUpload btn btn-primary">
                <span>Update Profile Picture</span>
                <%= f.file_field :image, class: "upload" %>
            </div>
          <% end %>
        </div>
      </li>
      <li>
        <div class="panel panel-default user-info">

          <!-- Default panel contents -->
          <div class="panel-heading">
            <h4>User Description:</h4>
          </div>
          <div class="panel-body">
            <h4>Age: <%=
              def age(dob)
                now = Time.now.utc.to_date
                now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)
              end
              if @user.birth_date
                age(@user.birth_date)
              end

              %> </h4>

            <h4>Gender: <%= @user.gender %> </h4>

            <h4>Location: <span id=city></span> </h4>

<!--             <h4>More Info:</h4>
            <div id="edit-me-4">We can write about the event in here. Whatever we want to write about.
            Hi! My name is Bobby and I like making friends and having fun. Do you like having fun?</div>
          </div> -->
        </div>
      </li>
      <li>
        <div class="panel panel-default user-sport-info">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h4>Sport Interests:</h4>
          </div>
          <div>
            <ul>
              <% @user.user_preferences.each do |preference| %>
                <li><%= @sport.find(preference.sport_id).name %> Skill: <%= preference.skill_level %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div><!--End of main content-->
<div class="col-md-1"></div>

</div>

<script>
  lat = <%= @user.lat %>
  long = <%= @user.lng %>
  $.ajax({
      url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+lat+','+long+'&sensor=false',
      success: function(data){
          var formatted = data.results;
          var address_array = formatted[6].formatted_address.split(',');
          var city = address_array[0];
          document.getElementById("city").innerHTML = city;
     }
  });
</script>
