<div class="container">
    <div class="row">
        <div class="col-md-3">
          <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
        </div>
        <div class="col-md-9">
            <h2 class="team-member">Walid Al-Habboul</h2>
            <h3 class="team-role">Role: Invoker</h3>
            <br>
            <p class="team-description">Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
          <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
        </div>
        <div class="col-md-9">
            <h2 class="team-member">Nima Boscarino</h2>
            <h3 class="team-role">Role: Invoker</h3>
            <br>
            <p class="team-description">Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
          <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
        </div>
        <div class="col-md-9">
            <h2 class="team-member">Gavin Haynes</h2>
            <h3 class="team-role">Role: Invoker</h3>
            <br>
            <p class="team-description">Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
          <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
        </div>
        <div class="col-md-9">
            <h2 class="team-member">Matthew Tan</h2>
            <h3 class="team-role">Role: Invoker</h3>
            <br>
            <p class="team-description">Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
          <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
        </div>
        <div class="col-md-9">
            <h2 class="team-member">Kevin Wu</h2>
            <h3 class="team-role">Role: Invoker</h3>
            <br>
            <p class="team-description">Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores Loren ipsum dolores </p>
        </div>
    </div>
</div>
