<!--
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="js/locationpicker.jquery.js"></script>
-->


<div class="center-content">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
    <%= @event.errors.full_messages.first if @event.errors.any? %>

    <div class="form-inputs">
      <%= f.input :headline %>
      <%= f.datetime_select :datetime %>
      <%= f.association :sport %>
      <p>Max Number of People: <%= f.select :max_seats, options_for_select((2..20).step(1))%></p>
      <%= f.input :description %>
      <%= f.input :is_competitive %>
      <p>Minimum Skill Level: <%= f.select :skill_min, options_for_select((0..10).step(1))%></p>
      <p>Maximum Skill Level: <%= f.select :skill_max, options_for_select((0..10).step(1))%></p>
      <div class="fileUpload btn btn-primary">
          <span>Add a picture!</span>
          <%= f.file_field :image, class: "upload" %>
      </div>

    </div>

    <%= render "map" %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function(){
  $("#new_event").submit( function(eventObj) {
    if (address_marker) {
      $('<input />').attr('type', 'hidden')
        .attr('name', 'event[lat]')
        .attr('value', address_marker.getPosition().lat())
        .appendTo('#new_event');
      $('<input />').attr('type', 'hidden')
        .attr('name', 'event[lng]')
        .attr('value', address_marker.getPosition().lng())
        .appendTo('#new_event');
    }
    return true;
  });
});
</script>
