<div class="center-content">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
    <%= @event.errors.full_messages.first if @event.errors.any? %>

    <div class="form-inputs">
      <%= f.input :headline %>
      <%= f.datetime_select :datetime %>
      <%= f.association :sport %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
