<div id="sport-event" class="center-content">
  <!--
  id
  headline
  description
  lat
  lng
  address
  datetime
  is_competitive
  max_seats
  skill_min
  skill_max
  image_id
  sport_id
  user_id
  created_at
  update_at
  -->
  <%= image_tag(@event.image_url, :id => "event-img") %>
  <h1 id="event-headline"><%= @event.headline %>
    <% if @event.is_competitive? %>
      <span class="label label-warning">Competitive</span>
    <% else %>
      <span class="label label-info">Recreational</span>
    <% end %>
    <span class="label label-primary"><%= Sport.find(@event.sport_id).name %></span>
  </h1>
  <p id="created_at">Created at: <%= @event.created_at %></p>
  <p id="update_at">Last Updated at: <%= @event.updated_at %></p>

  <ul class="event-list list-inline">
      <li>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h3>Event Description</h3>
          </div>
          <div class="panel-body">
            Location: <p id="event-address">SFU Burnaby Campus</p>
            Date and Time: <p id="event-time"><%= @event.datetime %></p>
            Max. number of seats:<p id="max_seats"><%= @event.max_seats %></p>
            <p>Minimum Skill Level: <%= @event.skill_min %></p>
            <p>Maximum Skill Level: <%= @event.skill_max %></p>
            <p id="event-description"><%= @event.description %></p>
          </div>
        </div>
      </li><!--End of About-->
      <li>
        <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?markers=color:blue%7C" +  @event.lat.to_s + "," + @event.lng.to_s + "&size=400x400&sensor=fakse") %>
      </li><!--End of Map-->
      <li>
        <div id="attendee-info" class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <% @event_user = @event.is_joined(current_user) %>
            <% if  @event_user%>
              <%= form_tag('/event_users/' + @event_user.id.to_s, method: 'delete') do |f| %>
                <button id="invite-btn" type="submit" class="btn btn-danger">Leave Event</button>
                <input type="hidden" name="event_user[event_id]" id="event_id" value="<%= @event.id %>"/>
              <% end %>
            <% else %>
              <%= form_tag('/event_users') do |f| %>
                <button id="invite-btn" type="submit" class="btn btn-primary">Join Event</button>
                <input type="hidden" name="event_user[event_id]" id="event_id" value="<%= @event.id %>"/>
              <% end %>
            <% end %>
            <h3>Attendees</h3>
          </div>
          <div class="panel-body">
            <!-- Table -->
            <table class="table">
          <!--     <tr>
                <th>First Name</th>
              </tr> -->
              <tr>
                <% @event.users.each do |user| %>

                  <td><a href="/user/<%= user.id %>"><%= user.first_name %></a></td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </li><!--End of Attendee info-->
      <li>
        <div class="chat-here">
          <form method="post">
            <textarea class="form-control" rows="3"></textarea>
            <input type="submit" name="submit" value="Add Comment">
          </form>
        </div>
      </li><!--End of Chat-->
  </ul>

</div><!--End of main content-->
