<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SportNow Event</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="js/jquery-1.12.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/bootstrap-slider.min.js"></script>

  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/css/bootstrap-slider.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--sport-now-->
  <link rel="stylesheet" type="text/css" href="css/sport-now-sportselect.css">

</head>
<body>

<div class="sidebar">
  <ul class="vert-one">
    <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
    <p style="color:white; text-align:center;"><%= current_user.email %></p>
    <li><a href="#" title="CSS Menus">User Profile</a></li>
    <li><a href="#" title="CSS Menus" class="current">SportsFeed</a></li>
    <li><a href="#" title="CSS Menus">About</a></li>
    <li><a href="#" title="CSS Menus">Settings</a></li>
    <li><a href="#" title="CSS Menus">Logout</a></li>
  </ul>
  <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span> Search</button>
</div><!--End of sidebar-->

<div class="container">
  <div  id="header-color" class="jumbotron">
    <h1>SportNow</h1>
</div>

<div class="col-md-1"></div>
<div class="center-content col-md-10">
  <h1><%= @event.headline %></h1>
  <div class="panel panel-default event-info">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>About the Event</h2>
    </div>
    <div class="panel-body">
      <%= @event.description %>
    </div>
  </div>

  <div class="map-placeholder">
    <%= image_tag("map.png", :width => "400px") %>
  </div>

  <div class="panel panel-default attendee-info">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h3>Attendees</h3>
    </div>
    <div class="panel-body">
      <!-- Table -->
      <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
        </tr>
        <tr>
          <td>Lois</td>
          <td>Griffin</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Swanson</td>
        </tr>
        <tr>
          <td>Cleveland</td>
          <td>Brown</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="chat-here">
    <textarea class="form-control" rows="3"></textarea>
    <input type="submit" name="submit" value="Add Comment">
  </div>
</div><!--End of main content-->
<div class="col-md-1"></div>
</div>
</body>
</html>
