<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @event.headline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Max seats:</strong>
  <%= @event.max_seats %>
</p>

<p>
  <strong>Skill min:</strong>
  <%= @event.skill_min %>
</p>

<p>
  <strong>Skill max:</strong>
  <%= @event.skill_max %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
