  <div class="sport-now-main">
    <%= form_tag do %>
    <ul class="list-inline">
      <% @sports.each_with_index do |sport, index| %>
          <li>
            <div class="sport-container">
              <img src="<%= if sport.image != nil then sport.image.url end %>" alt="<%= sport.name %>" id="" class="sport-icon">
              <i class="fa fa-check-circle fa-3x n_check <%= "active_sport" if @preferences_sports.has_key?(sport.id)%>"></i>
              <div class="skill_level" data-index="<%= index %>" style="<%= @preferences_sports.has_key?(sport.id) ? "display: block;" : "display: none;"; %> ">
                <p>SKILL LEVEL</p>
                <input type="hidden" id="sport-<%= index %>" <%= "name=sport_ids[#{index}]" if @preferences_sports.has_key?(sport.id) %> value="<%= sport.id %>">
                <input id="bootstrap-slider-<%= sport.id %>"  name="skill_levels[<%= index %>]" class="sportslider" value="<%= @preferences_sports[sport.id].skill_level if @preferences_sports.has_key?(sport.id) %>" data-slider-id="bs1" type="text" data-sport-id="<%= sport.id %>" />
              </div>
            </div>
          </li>
      <% end %>
    </ul>
    <button type="submit" id="align" class="btn btn-primary">Save</button>
    <% end %>
  </div>
