<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/bootstrap-slider.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/css/bootstrap-slider.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div class="content-secondary">
  <header class="header-primary">
    <ul class="vert-one">
      <% image = current_user.image_url ? current_user.image_url : "user.jpg" %>
            <%= image_tag(image, :alt => "User", :class => "img-responsive img-circle") %>
      <h3 style="color:white; text-align:center;"><%= current_user.first_name %></h3>
      <li><%= link_to "User Profile", current_user %></li>
      <li><a href="/events/?utf8=✓&joined=on">My Events</a></li>
      <li><%= link_to "Sports Feed", root_path %></li>
      <li><a href="#" title="Search" onclick="openSearch()">Search</a></li>
      <li><%= link_to "Preferences", user_preferences_path %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </header>
</div>
