<div class="sidebar">
  <ul class="vert-one">
    <%= image_tag("user.jpg", :alt => "User", :class => "img-responsive img-circle") %>
    <h3 style="color:white; text-align:center;">Bobby</h3>
    <li><a href="#" title="User Profile" class="current">User Profile</a></li>
    <li><%= link_to "Sports Feed", root_path %></li>
    <li><%= link_to "About Us", about_path %></li>
    <li><%= link_to "Preferences", user_preferences_path %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <li><a href="#" title="Search">Search</a></li>
  </ul>
</div><!--End of sidebar-->
